header {
  padding: 20px 20px;
  font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 16px;
   a{
  text-decoration: none;
  color:#000;
  //styleName: Heading / H8;
font-family: Lato;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.3em;
text-align: left;
}
a:hover{
  text-decoration: underline;
}
 }

.container {
        max-width:1152px;
        width: 100%; 
        margin: 0 auto; 
        display: flex;
        align-items: center;
        padding:20px;
    }



ul {
   list-style-type: none;
   display:flex;
}

.menu{
  display:flex;
  margin-left: auto;
}

li{
	padding-right: 52px;
}

a{
	text-decoration: none;
	color:#000;
}

h1{
  //styleName: Heading / H1 ;
font-family: Red Hat Display;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 64px;
letter-spacing: 0.05em;
text-align: left;
}