h5 {
	//styleName: Heading / H5;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 27px;
letter-spacing: 0.05em;
text-align: left;
}

.right{
	padding-left: 1000px;
}

.card{
	display: inline-block;
	max-width: 320px;
	height: 470px;
	padding:60px;
}
